.row:after{
    content: "";
    display: table;
    clear: both;
}

h1, h2, p {
    padding: 10px;
    font-weight: normal;
}

p, li {
    font-family: monospace;
}

.name {
    font-size: 50px;
}
* {
    margin:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.column {
    float: left;
    padding: 10px;
    word-wrap: break-word;
    height: 100%;
}

.left {
    width: 20%;
    position: fixed;
}

.right {
    position: relative;
    width: 80%;
    left: 20%;
}