.row:after{
    content: "";
    display: table;
    clear: both;
}

h1, h2, p {
    margin: 10px;
    font-weight: normal;
}

p, li {
    font-family: monospace;
}

a, a:visited {
    color: black;
}

.name {
    font-size: 50px;
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.column {
    padding: 10px;
    float: left;
    word-wrap: break-word;
    height: 100%;
}

.left {
    width: 20%;
    position: fixed;
}

.right {
    position: fixed;
    width: 80%;
    left: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.post {
    width: 98%;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin: 10px;
    overflow: auto;
    position: relative;
}

.img_container_buldak {
    position: relative;
    width: 100%;
    height: fit-content;
}

.img_container_buldak img {
    width: 31%;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
}

#album_cover.img_container {
    position: relative;
    float: left;
    width: 20%;
    margin: 10px;
    margin-top: 0;
}

#album_cover.img_container img {
    width: 100%;
    border-radius: 10px;
    border-style: solid;
}

#collector_left.img_container {
    position: relative;
    float: left;
    width: 24%;
    margin: 10px;
    margin-top: 0;
}

#collector_left.img_container img {
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    object-fit: contain;
}

#collector_right.img_container {
    position: relative;
    float: right;
    width: 28%;
    margin: 10px;
    margin-top: 0;
}

#collector_right.img_container img {
    width: 100%;
    border-radius: 10px;
    border-style: solid;
}

#textbook_heading {
    margin-top: 20px;
}

.box {
    width: fit-content;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin: 10px;
    margin-top: 30px;
    position: relative;
}

.box p {
    padding: 0px;
    margin: 10px;
}

.box .img_container img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
}

.box .img_container {
    width: 150px;
    height: 150px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    overflow: hidden;
}

iframe{
    margin-top: 10px;
    margin-bottom: 10px;
}